*{
    box-sizing:border-box;
}

body{
    color:rgb(244, 244, 244);
    background: no-repeat center center fixed;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow:0px 0px 20px #bcbbbb;
    background-size: cover;
}
#author{
    font-weight: bolder;
    /* font-size:4vw; */
   
}

main{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

main>h1.time{
    text-align: center;
}

div.top{
    display:flex;
    justify-content: space-between;
}

h1#wrng{
    color:black;
    display:none;
}

#crypto-item{
   
    /* flex-direction: row; */
    background-color: #5b5b5bc9;
    border-radius:5px;
    padding: 10px 15px 0px 0px;
    text-align: center;
    font-size:1.3rem;
}

#crypto-item p{
    margin:5px;
}
#crypto{
    display:flex;
    align-items: flex-start;
    margin-left:10px;
}

.time{
    position:relative;
    bottom:15%;
    font-size:4rem;
}

#weather p{
    margin:0px
}
#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: start;
}

#weather>img{
    width:60px;
    margin-right:0px;
}

.weather-lower{
    width:100%;
    text-align: right;
    margin-top:-10px;    
}

#weather-temp{
    font-size:2rem;
    /* padding:0; */
    /* margin:-10px; */
    margin-left:-20px;
}

#author{
    font-size:1rem;
}